
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../font/DroidSans.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(../font/DroidSansBold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(../font/RobotoSlabLight.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../font/RobotoSlabRegular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(../font/RobotoSlabBold.woff) format('woff');
}

/* -------------------------------------------- */
/* ------------------Clear--------------------- */
.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.box:after, .box:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {color: #A5A5A5;font: 16px/25px 'Droid Sans',sans-serif;}
body .wrap-body{background:#ffffff; margin: 30px auto; padding: 30px;}

a{color: #76D2C5;text-decoration: none;}
a:hover {color: #474747; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif !important;;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px !important; !important;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{}

h1, h2, h3{
	font-size: 25px;
	line-height: 35px;
	font-family: 'Roboto Slab',sans-serif;
	font-weight: 300;
	color: #474747;
}

h1 a, h2 a, h3 a{color: #474747; text-decoration: none; !important;}
h1 a:hover, h2 a:hover, h3 a:hover{color: #76D2C5; text-decoration: none;!important;}

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {}
header .wrap-header{}

header #logo {background:#76D2C5; width: 100%; text-align: center; padding: 40px 0px; color : #ffffff;!important; }
header #logo h1{font-size: 60px; line-height: 80px; color: #ffffff;!important;}

header .top {height: 40px;!important;}
header .top .socials ul {list-style: none;!important;}
header .top .socials ul li {position: relative;float: left; margin: 5px 0 5px 5px;}


/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav {}
nav .wrap-nav{display: inline-block; background: #91DBD1; width: 100%;!important;}

.menu ul {list-style: none;margin: 0;padding: 0;!important;}
.menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px;!important;}
.menu  ul li a {font-size: 18px; color: #ffffff;display: block;padding: 6px 30px;margin-bottom: 5px;z-index: 6;position: relative;!important;}
.menu  ul li:hover {background-color:#ffffff;}
.menu  ul li:hover a {color:#000000;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {}
#content .wrap-content{background-color:#FFF; margin-top: 30px;}

.block{}

#main-content{}
#main-content article{ margin-bottom:40px; padding:20px; border: 1px solid #EEEEEE;}
#main-content article .heading{text-align: center; border-bottom: 1px solid #EEEEEE; padding: 10px 0 30px 0; margin-bottom: 20px;}
#main-content article .content{margin: 20px 0;}
#main-content article h2{font-size:30px;}
#main-content article img{float:left; margin:0 20px 10px 0; padding:3px; border:1px solid #EEEEEE;}
#main-content article p{margin-bottom:10px;}
#main-content article .info{font-style:italic; border-top: 1px solid #EEEEEE; padding: 30px 0 10px 0;}


.card-libro{
    width: 100%;
    height: 50px;
    background-color: #FFF !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12) !important;
    border-radius: 5px;
}
.btn-crear-libros{

    margin-bottom: 30px;
}

.form-crear-libro{
    width: 100%;
    height: 250px;
    background-color: #FFF !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12) !important;
    margin-bottom: 100px;
    display: none;
}
.btn-guardar-libro{
    margin-top: 30px;
}
.form-autor{
    width: 50%!important;
    float: left !important;
}
.form-categoria{
    width: 50%!important;
    float: right !important;
    margin-top: -16px;
}
.form-create-autor{
    margin-top: -43px;
    float: left;
}
.form-foto{
    float: left;
    margin-top: -50px;
}
.form-upload{
    width: 50%!important;
    float: left !important;
    margin-top: -25px;
}
.form-nombre{
    width: 50%!important;
    float: left !important;
}



